  
    <div class="taoTaiKhoan">
        Tạo tài khoản 
    </div>
    <div id="admin">  
    <table class="table table-hover" style="    width: 673px;
                                    margin-left: 355px;">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tài Khoản</th>
                <th>Mật Khẩu</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>ncc</td>
                <td>ncc</td>
                <td></td>
                <td><button style="height: 30px;
                    width: 48px;
                    background: powderblue;
                    border-radius: 10px;">Xóa</button></td>
            </tr>
        </tbody>
    </table>
    


</div>
<div  class="logOut">
    <a style="color: white;
    text-decoration: none;
    font-size: medium; 
    font-weight: bold;" [routerLink]="[ '/Login']">Đăng xuất</a>
</div>
