<div class="contai1">
        <!-- <user11></user11>      -->
        <div class="header1">
                <img src="../assets/NCC2.ico" alt="logo nông nghiệp thông minh" style="      
                height: 33px;
                width: 60px;
                padding-left: 29px;
                padding-top: 10px;
            "> | Nông nghiệp thông minh NC2
        </div>
        <div class="main1">
                <router-outlet></router-outlet>
        </div>
        
        <div class="footer1">
                <div class="quangcao">
                        <ul class="thongTin">
                                <li> <a href="https://google.com" target="blank" style=" 
                                        font-size: 24px;font-weight: bolder;">Thông tin NC2</a></li>
                                <li> <a href="https://google.com" target="blank">Sứ mệnh</a></li>
                                <li> <a href="https://google.com" target="blank">Dịch vụ</a></li>
                                <li> <a href="https://google.com" target="blank">Liên hệ</a></li>
                        </ul>
                        <ul class="thoiTiet">
                                <li> <a href="https://google.com" target="blank" style=" 
                                        font-size: 24px;font-weight: bolder;">Thời tiết</a></li>
                                <li> <a href="https://google.com" target="blank">Dự báo thời tiết</a></li>
                                <li> <a href="https://google.com" target="blank">Thời tiết nông vụ</a></li>
                                <li> <a href="https://google.com" target="blank">Thời tiết quốc tế</a></li>
                        </ul>
                        <ul class="LinhVuc">
                                <li> <a href="https://google.com" target="blank" style=" 
                                font-size: 24px;font-weight: bolder;">Lĩnh vực</a></li>
                                <li> <a href="https://google.com" target="blank">IOT</a></li>
                                <li> <a href="https://google.com" target="blank">IT & phần mềm</a></li>
                                <li> <a href="https://google.com" target="blank">Kinh tế</a></li>
                                <li> <a href="https://google.com" target="blank">Ngoại ngữ</a></li>
                                <li> <a href="https://google.com" target="blank">Kỹ năng mềm</a></li>
                        </ul>
                        <ul class="congDong">
                                <li> <a href="https://google.com" target="blank" style=" 
                                font-size: 24px;font-weight: bolder;">Cộng đồng</a></li>
                                <li> <a href="https://google.com" target="blank">Hỏi & Đáp</a></li>
                                <li> <a href="https://google.com" target="blank">Kỹ năng mềm</a></li>
                        </ul>

                </div>
                <div class="gachngang">
                        <hr>
                </div>
                <div class="quyNhon" style="    position: absolute; color: aliceblue; bottom: 0px;">
                        <p>Made by Nguyễn Chí Cường_Đại học Quy Nhơn_2018 </p>
                </div>
                <div class="dieukhoan">
                        <div    style="position: absolute;
                        top: 160px;
                        left: 760px;font-size: larger;" >
                                <a href="https://google.com" target="blank">Điều khoản</a>
                        </div>
                        <div style="    position: absolute;
                        top: 160px;
                        left: 868px;font-size: larger;">
                                <a href="https://google.com" target="blank">Chính sách bảo mật</a>
                        </div>
                        <div style="    position: absolute;
                        top: 160px;
                        left: 1048px;font-size: larger;">
                                <a href="https://google.com" target="blank">Sở hữu trí tuệ</a>
                        </div>
                </div>

        </div>


        <div class="right1">
                <a href="https://facebook.com" target="blank"><i class="fa fa-facebook-f " style="font-size:22px;color:blue"></i>
                </a> <br> <br>
                <a href="https://mail.google.com" target="blank"> <i class="fa fa-google-plus" style="font-size:22px;color:rgb(126, 22, 22)"></i>
                </a> <br> <br>
                <a href="https://instagram.com" target="blank"> <i class="fa fa-instagram" style="font-size:22px;color:rgb(98, 36, 110)"></i></a>
                <br> <br>
                <a href="https://twitter.com" target="blank"> <i class="fa fa-twitter" style="font-size:22px;color:blue"></i>
                </a> <br> <br>
                <a href="https://youtube.com" target="blank"> <i class="fa fa-youtube" style="font-size:22px;color:rgb(192, 22, 22)"></i>
                </a>
            </div>

            
</div>